@use '@angular/material' as mat;

@include mat.core();

html, body { 
    height: 100%;
    overflow: hidden;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

table {
    width: 100%;
}

.form-container {
    width: 500px;
    padding: 16px;
    box-sizing: border-box;

    @media screen and (max-width: 601px) {
        width: 100%;
    }
  }
  
  .full-width {
    width: 100%;
  }
  
  .buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 48px;
  }

  .inputs {
    width: 100%;
  }